* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: #333;
    text-decoration: none;
}
body {
    background-color: #F5F5F5;
}
nav, aside {
    background-color: #e0e0e0;
}
li {
    list-style: none;
}
main {
    margin: 6rem 1rem 1rem 4.5rem;
}
p {
    color: #333333;
}
.slides-container {
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
}
/* WebKit */
.slides-container::-webkit-scrollbar { 
    width: 0;
    height: 0;
}